/* The sidepanel menu */
.sidepanel {
    height: 280px; 
    width: 0; /* 0 width = hidden */
    position: fixed;
    z-index: 666; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 88px; 
    transition: 0.69s; 
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    color: #888;
    display: block;
    transition: 0.44s;
  }
  
  .sidepanel a:hover {
    color: #fff;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
  }
  
  .openbtn {
    background-color: #000;
    color: white;
    padding: 11px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }